.navigationContainer {
    display: flex;
}

.navigationList {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.5em;
}

ul.navigationList>li {
    text-align: center;
    width: 10em;
    padding: 0.3em 0.5em;
    border: 2px solid black;
    background-color: transparent;

}

.randomBeer {
    background-color: transparent;
    border: none;
}

.randomBeer:hover {
    cursor: pointer;
}

@media (max-width:1250px) {

    .navigationList {
        display: flex;

        flex-direction: column;
    }

}